/*
Project Name: CSR Personnel Website
Developer: Artem Rykalin
*/

/******************************************
/* SETUP
/*******************************************/
/* Box Model Hack: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
/* Micro clearfix hack: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
  clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
body {
  color: black;
  font-size: 16px;
  background: white;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* PAGES
/*******************************************/

/******************************************
/* SECTIONS
/*******************************************/

/*---------------------------------------------------------
  G L O B A L
----------------------------------------------------------- */
a {
  text-decoration: none;
  color: #000;
}

/*---------------------------------------------------------
  C O N T A I N E R
----------------------------------------------------------- */


/*---------------------------------------------------------
  N A V
----------------------------------------------------------- 
*/
nav li {
  border: 5px transparent;
  border-bottom: none;
  display: inline-block;
  background-color: #5CB1CB;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: -3px;
  padding: 10px 20px;
}


/*---------------------------------------------------------
  P A N E L S
----------------------------------------------------------- */
